body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bolder;
}

p{
    color:#8f8f8f;
}

/*Heading*/
.big-heading{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bolder;
    size:3.5 rem;
    line-height: 1.5;
}

.section-heading{
    font-size:3rem;
    line-height:1.5;
}

/*title section*/

#title{
    background-color: #ef8172;
    color:#fff;
    text-align: left;
   
}

#title .container-fluid{
    padding:3% 15% 7%
}

/* title image */

#img-iphone6{
    width:60%;
    transform: rotate(25deg);
    margin:1rem 0;
    z-index:-1;
}

/* Navigation Bar */
.navbar-brand{
    font-family: "ubuntu";
    font-size:2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom:4.5rem;
}

.nav-item{
    padding:0 1em;
}

.nav-link{
    font-size:1.2rem;
}

/* Download Button */
.download-button{
    margin:5% 3% 5% 0%;
}


/* Features box */
#features{
    padding:7% 15%;
    background-color :#fff;
    margin-top:-100px;
    position:relative;
}

.feature-title{
    font-size:1.5rem;
}

.feature-box{
    text-align:center;
    padding:5%;
}

.icon{
    color:#ef8172;
    margin-bottom:1rem;
}

.icon:hover{
    color:#ff4c68;
}


/* Testimonial Icon */

#testimonials{
    padding:7%;
    text-align:center;
    background-color: #ef8172;
    color:#fff;
}

.testimonial-text{
    font-size:2.5rem;
    line-height:1.5;
}

.testimonial-image{
   width:10%;
   border-radius:100%;
   margin:20px;
}

#press{
    background-color: #ef8172;
    text-align:center;
    padding-bottom:7%;
}

.press-logo{
    width:15%;
    margin:24px 24px 15px;
}


/* Pricing Section */

#pricing{
    padding:100px;
    text-align:center;
}

.pricing-column{
    padding:3% 2%;
}

.price-text{
    font-size: 2.5rem;
}
@media (max-width:1028px){
    #title{
        text-align:center;
    }

    #img-iphone6{
        position:static;
        transform: rotate(0);
    }
}

/*CTA SECTION*/

#cta{
    padding:7% 15%;
    text-align:center;
    background-color: #ef8172;
    color:#fff;
}

.cta-heading{
    font-family:'Montserrat-Black', sans-serif;
    font-size:3.5rem;
}

/*footer asection*/

#footer{
    text-align:center;
    padding: 7% 15%;
}

.socmed-icon{
    margin:20px 10px;
}